@import "tailwindcss";

:root {
  --background: #050508;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0b0f1a;
}

::-webkit-scrollbar-thumb {
  background: #252a3a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a415a;
}